@import '../../styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  .menu-sidebar ::ng-deep .scrollable {
    padding-top: nb-theme(layout-padding-top);
  }
}
h1 {
  font-size: 3em;
  margin: 0 0 0.5em 0;
  text-align: center;
  font-family: "Cookie", cursive;
}
h1 img {
  height: auto;
  margin: 0 auto;
  width: 100%;
}
	.mediaViewInfo {
		--web-view-name: 12. Onboarding Sign up;
		--web-view-id: ID12_Onboarding_Sign_up;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}




	#ID12_Onboarding_Sign_up {
		width: 100%;
		height: 100%;

	}

	#Group_15891 {
		position: absolute;
		width: 2891.303px;
		height: 1575.325px;
		left: -757.44px;
		top: -328.663px;
		overflow: visible;
	}


	.login-card {
		box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.031);
		overflow: visible;
		background-color: rgba(255, 255, 255, 1);
		border-radius: 12px;
		padding: 20px;
		margin: auto;
		display: block;
		top: 20%;

		position: relative;



	}

	#Rectangle_103_w {
		fill: url(#Rectangle_103_w);
	}

	.Rectangle_103_w {
		filter: drop-shadow(50px 50px 50px rgba(171, 182, 204, 0.2));
		width: 742px;
		height: 602px;
		position: absolute;
		overflow: visible;
		transform: rotate(37deg);
		transform-origin: center;
	}

	#Rectangle_102_y {
		fill: url(#Rectangle_102_y);
	}

	.Rectangle_102_y {
		filter: drop-shadow(50px 50px 50px rgba(171, 182, 204, 0.2));
		width: 742px;
		height: 602px;
		position: absolute;
		overflow: visible;
		transform: rotate(37deg);
		transform-origin: center;
		margin-left: -600px;
		margin-top: -200px;
	}

	#Card_Base_z {
		fill: rgba(255, 255, 255, 1);
	}

	.Card_Base_z {
		filter: drop-shadow(0px 3px 20px rgba(0, 0, 0, 0.031));
		overflow: visible;
		position: absolute;
		width: 1218px;
		height: 708px;
		left: 898.44px;
		top: 463.663px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Ellipse_60 {
		fill: rgba(255, 236, 202, 1);
	}

	.Ellipse_60 {
		position: absolute;
		overflow: visible;
		width: 301px;
		height: 301px;
		left: 1365.44px;
		top: 1175.663px;
	}

	#Ellipse_146 {
		fill: rgba(255, 236, 202, 1);
	}

	.Ellipse_146 {
		position: absolute;
		overflow: visible;
		width: 301px;
		height: 301px;
		left: 1304.44px;
		top: 103.663px;
	}

	#Group_15879 {
		position: absolute;
		width: 272px;
		height: 301px;
		left: 1617.44px;
		top: 635.663px;
		overflow: visible;
	}

	#Group_15867 {
		position: absolute;
		width: 272px;
		height: 137px;
		left: 0px;
		top: 50px;
		overflow: visible;
	}

	#Group_6 {
		position: absolute;
		width: 272px;
		height: 63px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}

	#Username {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 54px;
		white-space: nowrap;
		text-align: left;
		font-family: Circular Std Book;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: rgba(140, 152, 169, 1);
		text-transform: capitalize;
	}

	#Group_3 {
		position: absolute;
		width: 272px;
		height: 40px;
		left: 0px;
		top: 23px;
		overflow: visible;
	}

	#Rectangle {
		fill: rgba(255, 255, 255, 1);
		stroke: rgba(224, 231, 255, 1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 100;
		shape-rendering: auto;
	}

	.Rectangle {
		position: absolute;
		overflow: visible;
		width: 272px;
		height: 40px;
		left: 0px;
		top: 0px;
	}

	#Abraham_Zack {
		left: 13px;
		top: 11px;
		position: absolute;
		overflow: visible;
		width: 183px;
		height: 18px;
		line-height: 18px;
		margin-top: -2.5px;
		text-align: left;
		font-family: Open Sans;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(46, 56, 77, 1);
	}

	#Group_5 {
		position: absolute;
		width: 272px;
		height: 63px;
		left: 0px;
		top: 74px;
		overflow: visible;
	}

	#Password {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 51px;
		white-space: nowrap;
		text-align: left;
		font-family: Circular Std Book;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: rgba(140, 152, 169, 1);
		text-transform: capitalize;
	}

	#Group_2 {
		position: absolute;
		width: 272px;
		height: 40px;
		left: 0px;
		top: 23px;
		overflow: visible;
	}

	#Rectangle_bc {
		fill: rgba(255, 255, 255, 1);
		stroke: rgba(224, 231, 255, 1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 100;
		shape-rendering: auto;
	}

	.Rectangle_bc {
		position: absolute;
		overflow: visible;
		width: 272px;
		height: 40px;
		left: 0px;
		top: 0px;
	}

	#_________ {
		left: 13px;
		top: 13px;
		position: absolute;
		overflow: visible;
		width: 183px;
		height: 18px;
		line-height: 18px;
		margin-top: -2.5px;
		text-align: left;
		font-family: Open Sans;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(46, 56, 77, 1);
	}

	#Forgot_Password {
		left: 0px;
		top: 200px;
		position: absolute;
		overflow: visible;
		width: 94px;
		white-space: nowrap;
		text-align: left;
		font-family: Circular Std Book;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: rgba(140, 152, 169, 1);
		text-transform: capitalize;
	}

	#Group_15870 {
		position: absolute;
		width: 272px;
		height: 40px;
		left: 0px;
		top: 232px;
		overflow: visible;
	}

	#Rectangle_bg {
		fill: rgba(245, 117, 34, 1);
	}

	.Rectangle_bg {
		position: absolute;
		overflow: visible;
		width: 272px;
		height: 40px;
		left: 0px;
		top: 0px;
	}

	#login {
		left: 117px;
		top: 12px;
		position: absolute;
		overflow: visible;
		width: 36px;
		white-space: nowrap;
		line-height: 32px;
		margin-top: -10px;
		text-align: left;
		font-family: Circular Std Medium;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: rgba(255, 255, 255, 1);
		text-transform: uppercase;
	}

	#Already_have_an_account_Sign_I {
		left: 43px;
		top: 285px;
		position: absolute;
		overflow: visible;
		width: 181px;
		white-space: nowrap;
		text-align: left;
		font-family: Circular Std Book;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: rgba(140, 152, 169, 1);
		text-transform: capitalize;
	}

	#Sign_In {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 86px;
		white-space: nowrap;
		line-height: 32px;
		margin-top: -2px;
		text-align: left;
		font-family: Circular Std Medium;
		font-style: normal;
		font-weight: normal;
		font-size: 28px;
		color: rgba(46, 56, 77, 1);
	}

	#Group_38351 {
		position: absolute;
		width: 731.018px;
		height: 707.354px;
		left: 874.44px;
		top: 403.309px;
		overflow: visible;
	}

	#Group_38350 {
		position: absolute;
		width: 586.961px;
		height: 702.484px;
		left: 27.194px;
		top: 0px;
		overflow: visible;
	}

	#Group_184 {
		opacity: 0.68;
		position: absolute;
		width: 586.961px;
		height: 702.484px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}

	#Group_183 {
		mix-blend-mode: multiply;
		position: absolute;
		width: 478.981px;
		height: 523.261px;
		left: 0px;
		top: 57.515px;
		overflow: visible;
	}

	#Path_733 {
		fill: rgba(255, 227, 177, 1);
	}

	.Path_733 {
		overflow: visible;
		position: absolute;
		width: 478.981px;
		height: 523.261px;
		left: 0px;
		top: 0px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_734 {
		fill: rgba(255, 227, 177, 1);
	}

	.Path_734 {
		mix-blend-mode: multiply;
		overflow: visible;
		position: absolute;
		width: 461.113px;
		height: 446.186px;
		left: 26.614px;
		top: 213.178px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_735 {
		opacity: 0.65;
		fill: rgba(255, 227, 177, 1);
	}

	.Path_735 {
		mix-blend-mode: multiply;
		overflow: visible;
		position: absolute;
		width: 524.676px;
		height: 548.395px;
		left: 62.285px;
		top: 69.343px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_736 {
		fill: rgba(255, 227, 177, 1);
	}

	.Path_736 {
		mix-blend-mode: multiply;
		overflow: visible;
		position: absolute;
		width: 35.232px;
		height: 35.232px;
		left: 491.03px;
		top: 141.354px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_737 {
		fill: rgba(255, 227, 177, 1);
	}

	.Path_737 {
		mix-blend-mode: multiply;
		overflow: visible;
		position: absolute;
		width: 16.411px;
		height: 16.411px;
		left: 236.269px;
		top: 0px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Ellipse_7 {
		fill: rgba(255, 227, 177, 1);
	}

	.Ellipse_7 {
		mix-blend-mode: multiply;
		position: absolute;
		overflow: visible;
		width: 20.033px;
		height: 20.033px;
		left: 27.068px;
		top: 274.763px;
	}

	#Path_738 {
		fill: rgba(255, 227, 177, 1);
	}

	.Path_738 {
		mix-blend-mode: multiply;
		overflow: visible;
		position: absolute;
		width: 18.763px;
		height: 18.766px;
		left: 6.854px;
		top: 541.605px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_739 {
		fill: rgba(255, 227, 177, 1);
	}

	.Path_739 {
		mix-blend-mode: multiply;
		overflow: visible;
		position: absolute;
		width: 19.052px;
		height: 19.051px;
		left: 526.262px;
		top: 480.185px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_740 {
		fill: rgba(255, 227, 177, 1);
	}

	.Path_740 {
		mix-blend-mode: multiply;
		overflow: visible;
		position: absolute;
		width: 16.785px;
		height: 16.785px;
		left: 341.111px;
		top: 685.699px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Group_197 {
		position: absolute;
		width: 731.018px;
		height: 663.885px;
		left: 0px;
		top: 43.47px;
		overflow: visible;
	}

	#Path_742 {
		fill: rgba(152, 132, 119, 1);
	}

	.Path_742 {
		overflow: visible;
		position: absolute;
		width: 287.514px;
		height: 187.067px;
		left: 0px;
		top: 417.432px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_743 {
		fill: rgba(161, 27, 31, 1);
	}

	.Path_743 {
		overflow: visible;
		position: absolute;
		width: 129.591px;
		height: 92.217px;
		left: 132.289px;
		top: 257.437px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_744 {
		fill: rgba(239, 75, 35, 1);
	}

	.Path_744 {
		overflow: visible;
		position: absolute;
		width: 84.189px;
		height: 35.491px;
		left: 167.731px;
		top: 305.777px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_745 {
		fill: rgba(187, 39, 36, 1);
	}

	.Path_745 {
		overflow: visible;
		position: absolute;
		width: 59.701px;
		height: 12.352px;
		left: 184.416px;
		top: 306.754px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_746 {
		fill: rgba(161, 27, 31, 1);
	}

	.Path_746 {
		overflow: visible;
		position: absolute;
		width: 92.91px;
		height: 41.592px;
		left: 164.771px;
		top: 304.708px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_747 {
		fill: rgba(239, 75, 35, 1);
	}

	.Path_747 {
		overflow: visible;
		position: absolute;
		width: 119.232px;
		height: 59.603px;
		left: 137.067px;
		top: 260.565px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_748 {
		fill: rgba(187, 39, 36, 1);
	}

	.Path_748 {
		overflow: visible;
		position: absolute;
		width: 110.218px;
		height: 35.274px;
		left: 140.406px;
		top: 284.883px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_749 {
		fill: rgba(161, 27, 31, 1);
	}

	.Path_749 {
		overflow: visible;
		position: absolute;
		width: 124.004px;
		height: 61.139px;
		left: 135.402px;
		top: 259.17px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_750 {
		fill: rgba(239, 75, 35, 1);
	}

	.Path_750 {
		overflow: visible;
		position: absolute;
		width: 26.868px;
		height: 28.055px;
		left: 249.036px;
		top: 301.193px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_751 {
		fill: rgba(187, 39, 36, 1);
	}

	.Path_751 {
		overflow: visible;
		position: absolute;
		width: 14.849px;
		height: 23.767px;
		left: 251.85px;
		top: 305.726px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_752 {
		fill: rgba(161, 27, 31, 1);
	}

	.Path_752 {
		overflow: visible;
		position: absolute;
		width: 31.698px;
		height: 31.226px;
		left: 245.817px;
		top: 299.477px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_753 {
		fill: rgba(255, 255, 255, 1);
	}

	.Path_753 {
		overflow: visible;
		position: absolute;
		width: 186.666px;
		height: 141.063px;
		left: 419.435px;
		top: 340.543px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_754_cb {
		fill: url(#Path_754_cb);
	}

	.Path_754_cb {
		overflow: visible;
		position: absolute;
		width: 135.485px;
		height: 89.418px;
		left: 451.237px;
		top: 383.56px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_755 {
		fill: rgba(147, 129, 115, 1);
	}

	.Path_755 {
		overflow: visible;
		position: absolute;
		width: 62.779px;
		height: 26.479px;
		left: 463.968px;
		top: 425.309px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_756 {
		fill: rgba(152, 132, 119, 1);
	}

	.Path_756 {
		overflow: visible;
		position: absolute;
		width: 193.896px;
		height: 150.617px;
		left: 414.372px;
		top: 335.035px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_757 {
		fill: rgba(255, 255, 255, 1);
	}

	.Path_757 {
		overflow: visible;
		position: absolute;
		width: 378.864px;
		height: 363.091px;
		left: 120.63px;
		top: 300.793px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_758 {
		fill: rgba(152, 132, 119, 1);
	}

	.Path_758 {
		overflow: visible;
		position: absolute;
		width: 16.807px;
		height: 17.19px;
		left: 356.536px;
		top: 465.714px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_759 {
		fill: rgba(255, 255, 255, 1);
	}

	.Path_759 {
		overflow: visible;
		position: absolute;
		width: 8.982px;
		height: 14.791px;
		left: 362.917px;
		top: 466.913px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_760 {
		fill: rgba(215, 213, 193, 1);
	}

	.Path_760 {
		overflow: visible;
		position: absolute;
		width: 17.45px;
		height: 17.605px;
		left: 372.634px;
		top: 563.206px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_761 {
		fill: rgba(152, 132, 119, 1);
	}

	.Path_761 {
		overflow: visible;
		position: absolute;
		width: 17.523px;
		height: 17.954px;
		left: 374.601px;
		top: 562.857px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_762 {
		fill: rgba(255, 255, 255, 1);
	}

	.Path_762 {
		overflow: visible;
		position: absolute;
		width: 10.893px;
		height: 15.229px;
		left: 379.788px;
		top: 564.276px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_763_cl {
		fill: url(#Path_763_cl);
	}

	.Path_763_cl {
		overflow: visible;
		position: absolute;
		width: 58.273px;
		height: 36.467px;
		left: 159.542px;
		top: 429.745px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_764_cn {
		fill: url(#Path_764_cn);
	}

	.Path_764_cn {
		overflow: visible;
		position: absolute;
		width: 143.01px;
		height: 102.338px;
		left: 266.268px;
		top: 316.713px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_765_cp {
		fill: url(#Path_765_cp);
	}

	.Path_765_cp {
		overflow: visible;
		position: absolute;
		width: 171.233px;
		height: 310.541px;
		left: 195.21px;
		top: 349.657px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_766 {
		fill: rgba(169, 166, 146, 1);
	}

	.Path_766 {
		overflow: visible;
		position: absolute;
		width: 81.904px;
		height: 66.861px;
		left: 195.258px;
		top: 528.029px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_767 {
		fill: rgba(152, 132, 119, 1);
	}

	.Path_767 {
		overflow: visible;
		position: absolute;
		width: 98.759px;
		height: 306.904px;
		left: 277.162px;
		top: 356.981px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_768_ct {
		fill: url(#Path_768_ct);
	}

	.Path_768_ct {
		overflow: visible;
		position: absolute;
		width: 53.846px;
		height: 37.537px;
		left: 399.765px;
		top: 403.797px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_769 {
		fill: rgba(152, 132, 119, 1);
	}

	.Path_769 {
		overflow: visible;
		position: absolute;
		width: 97.047px;
		height: 295.731px;
		left: 299.594px;
		top: 367.756px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_770 {
		fill: rgba(152, 132, 119, 1);
	}

	.Path_770 {
		overflow: visible;
		position: absolute;
		width: 388.565px;
		height: 344.822px;
		left: 116.22px;
		top: 298.006px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_771 {
		fill: rgba(239, 75, 35, 1);
	}

	.Path_771 {
		overflow: visible;
		position: absolute;
		width: 173.034px;
		height: 131.273px;
		left: 258.959px;
		top: 289.382px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_772 {
		fill: rgba(239, 75, 35, 1);
	}

	.Path_772 {
		overflow: visible;
		position: absolute;
		width: 27.152px;
		height: 66.613px;
		left: 404.841px;
		top: 352.125px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_773 {
		fill: rgba(187, 39, 36, 1);
	}

	.Path_773 {
		overflow: visible;
		position: absolute;
		width: 127.994px;
		height: 93.51px;
		left: 281.284px;
		top: 325.229px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_774 {
		fill: rgba(187, 39, 36, 1);
	}

	.Path_774 {
		overflow: visible;
		position: absolute;
		width: 159.87px;
		height: 75.863px;
		left: 262.508px;
		top: 306.429px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_775 {
		fill: rgba(248, 158, 28, 1);
	}

	.Path_775 {
		overflow: visible;
		position: absolute;
		width: 7.702px;
		height: 22.335px;
		left: 418.035px;
		top: 326.066px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_776 {
		fill: rgba(161, 27, 31, 1);
	}

	.Path_776 {
		overflow: visible;
		position: absolute;
		width: 175.023px;
		height: 134.741px;
		left: 257.71px;
		top: 287.825px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_777 {
		fill: rgba(250, 200, 140, 1);
	}

	.Path_777 {
		overflow: visible;
		position: absolute;
		width: 205.23px;
		height: 224.417px;
		left: 224.787px;
		top: 116.163px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_778 {
		fill: rgba(250, 200, 140, 1);
	}

	.Path_778 {
		overflow: visible;
		position: absolute;
		width: 35.062px;
		height: 26.788px;
		left: 287.378px;
		top: 187.482px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_779 {
		fill: rgba(246, 166, 87, 1);
	}

	.Path_779 {
		overflow: visible;
		position: absolute;
		width: 103.318px;
		height: 162.012px;
		left: 224.787px;
		top: 165.438px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_780_c {
		fill: url(#Path_780_c);
	}

	.Path_780_c {
		overflow: visible;
		position: absolute;
		width: 57.182px;
		height: 145.401px;
		left: 372.535px;
		top: 153.153px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_781_c {
		fill: url(#Path_781_c);
	}

	.Path_781_c {
		overflow: visible;
		position: absolute;
		width: 21.071px;
		height: 34.191px;
		left: 372.535px;
		top: 154.067px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_782 {
		fill: rgba(255, 253, 238, 1);
	}

	.Path_782 {
		overflow: visible;
		position: absolute;
		width: 36.071px;
		height: 134.724px;
		left: 393.936px;
		top: 162.26px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_783_db {
		fill: url(#Path_783_db);
	}

	.Path_783_db {
		overflow: visible;
		position: absolute;
		width: 18.094px;
		height: 27.424px;
		left: 373px;
		top: 245.986px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_784 {
		fill: rgba(246, 166, 87, 1);
	}

	.Path_784 {
		overflow: visible;
		position: absolute;
		width: 36.784px;
		height: 11.836px;
		left: 359.708px;
		top: 281.025px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_785_de {
		fill: url(#Path_785_de);
	}

	.Path_785_de {
		overflow: visible;
		position: absolute;
		width: 47.576px;
		height: 35.723px;
		left: 231.343px;
		top: 223.447px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_786_dg {
		fill: url(#Path_786_dg);
	}

	.Path_786_dg {
		overflow: visible;
		position: absolute;
		width: 61.385px;
		height: 46.429px;
		left: 337.022px;
		top: 179.626px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_787_di {
		fill: url(#Path_787_di);
	}

	.Path_787_di {
		overflow: visible;
		position: absolute;
		width: 61.295px;
		height: 24.573px;
		left: 334.918px;
		top: 201.405px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_788 {
		fill: rgba(246, 166, 87, 1);
	}

	.Path_788 {
		overflow: visible;
		position: absolute;
		width: 71.851px;
		height: 56.559px;
		left: 302.384px;
		top: 149.405px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_789_dl {
		fill: url(#Path_789_dl);
	}

	.Path_789_dl {
		overflow: visible;
		position: absolute;
		width: 34.192px;
		height: 47.451px;
		left: 310.297px;
		top: 155.673px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_790 {
		fill: rgba(55, 24, 11, 1);
	}

	.Path_790 {
		overflow: visible;
		position: absolute;
		width: 65.634px;
		height: 29.858px;
		left: 323.019px;
		top: 236.159px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_791 {
		fill: rgba(255, 255, 255, 1);
	}

	.Path_791 {
		overflow: visible;
		position: absolute;
		width: 32.545px;
		height: 44.377px;
		left: 307.618px;
		top: 156.408px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_792_dp {
		fill: url(#Path_792_dp);
	}

	.Path_792_dp {
		overflow: visible;
		position: absolute;
		width: 21.367px;
		height: 24.736px;
		left: 307.585px;
		top: 171.066px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_793 {
		fill: rgba(133, 51, 27, 1);
	}

	.Path_793 {
		overflow: visible;
		position: absolute;
		width: 21.276px;
		height: 13.161px;
		left: 307.585px;
		top: 171.066px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_794 {
		fill: rgba(55, 24, 11, 1);
	}

	.Path_794 {
		overflow: visible;
		position: absolute;
		width: 22.534px;
		height: 25.904px;
		left: 307.002px;
		top: 170.481px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_795 {
		fill: rgba(133, 51, 27, 1);
	}

	.Path_795 {
		overflow: visible;
		position: absolute;
		width: 6.414px;
		height: 6.796px;
		left: 311.71px;
		top: 182.218px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_796 {
		fill: rgba(35, 31, 32, 1);
	}

	.Path_796 {
		overflow: visible;
		position: absolute;
		width: 10.454px;
		height: 11.501px;
		left: 312.974px;
		top: 176.573px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_797 {
		fill: rgba(255, 255, 255, 1);
	}

	.Path_797 {
		overflow: visible;
		position: absolute;
		width: 3.77px;
		height: 3.711px;
		left: 316.354px;
		top: 189.47px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_798 {
		fill: rgba(157, 76, 67, 1);
	}

	.Path_798 {
		overflow: visible;
		position: absolute;
		width: 34.747px;
		height: 48.622px;
		left: 306.828px;
		top: 152.7px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_799 {
		fill: rgba(207, 54, 38, 1);
	}

	.Path_799 {
		overflow: visible;
		position: absolute;
		width: 62.172px;
		height: 34.791px;
		left: 324.897px;
		top: 240.014px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_800 {
		fill: rgba(161, 27, 31, 1);
	}

	.Path_800 {
		overflow: visible;
		position: absolute;
		width: 51.988px;
		height: 26.003px;
		left: 324.897px;
		top: 240.014px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_801 {
		fill: rgba(144, 30, 28, 1);
	}

	.Path_801 {
		overflow: visible;
		position: absolute;
		width: 64.255px;
		height: 36.432px;
		left: 323.621px;
		top: 239.193px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_802 {
		fill: rgba(255, 255, 255, 1);
	}

	.Path_802 {
		overflow: visible;
		position: absolute;
		width: 74.797px;
		height: 30.042px;
		left: 319.307px;
		top: 220.73px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_803 {
		fill: rgba(234, 230, 226, 1);
	}

	.Path_803 {
		overflow: visible;
		position: absolute;
		width: 62.965px;
		height: 21.085px;
		left: 331.139px;
		top: 224.901px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_804 {
		fill: rgba(147, 129, 115, 1);
	}

	.Path_804 {
		overflow: visible;
		position: absolute;
		width: 76.741px;
		height: 31.819px;
		left: 318.237px;
		top: 219.827px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_805 {
		fill: rgba(157, 76, 67, 1);
	}

	.Path_805 {
		overflow: visible;
		position: absolute;
		width: 58.144px;
		height: 18.698px;
		left: 332.752px;
		top: 257.41px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_806 {
		fill: rgba(157, 76, 67, 1);
	}

	.Path_806 {
		overflow: visible;
		position: absolute;
		width: 20.605px;
		height: 19.968px;
		left: 334.918px;
		top: 195.043px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_807_d {
		fill: url(#Path_807_d);
	}

	.Path_807_d {
		overflow: visible;
		position: absolute;
		width: 47.444px;
		height: 61.014px;
		left: 276.82px;
		top: 186.993px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_808_d {
		fill: url(#Path_808_d);
	}

	.Path_808_d {
		overflow: visible;
		position: absolute;
		width: 95.689px;
		height: 94.24px;
		left: 235.45px;
		top: 233.211px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_809 {
		fill: rgba(255, 223, 149, 1);
	}

	.Path_809 {
		overflow: visible;
		position: absolute;
		width: 56.633px;
		height: 44.905px;
		left: 269.611px;
		top: 282.546px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_810_ea {
		fill: url(#Path_810_ea);
	}

	.Path_810_ea {
		overflow: visible;
		position: absolute;
		width: 52.202px;
		height: 56.63px;
		left: 226.708px;
		top: 226.194px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_811 {
		fill: rgba(255, 223, 149, 1);
	}

	.Path_811 {
		overflow: visible;
		position: absolute;
		width: 44.703px;
		height: 41.199px;
		left: 226.728px;
		top: 241.624px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_812 {
		fill: rgba(157, 76, 67, 1);
	}

	.Path_812 {
		overflow: visible;
		position: absolute;
		width: 212.976px;
		height: 230.332px;
		left: 220.304px;
		top: 113.193px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_813 {
		fill: rgba(35, 31, 32, 1);
	}

	.Path_813 {
		overflow: visible;
		position: absolute;
		width: 111.429px;
		height: 143.533px;
		left: 312.466px;
		top: 208.592px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_814_ef {
		fill: url(#Path_814_ef);
	}

	.Path_814_ef {
		overflow: visible;
		position: absolute;
		width: 32.531px;
		height: 20.575px;
		left: 367.957px;
		top: 267.749px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_815 {
		fill: rgba(157, 76, 67, 1);
	}

	.Path_815 {
		overflow: visible;
		position: absolute;
		width: 51.342px;
		height: 26.096px;
		left: 350.246px;
		top: 263.086px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_816 {
		fill: rgba(255, 255, 255, 1);
	}

	.Path_816 {
		overflow: visible;
		position: absolute;
		width: 21.437px;
		height: 31.193px;
		left: 369.305px;
		top: 154.422px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_817_ej {
		fill: url(#Path_817_ej);
	}

	.Path_817_ej {
		overflow: visible;
		position: absolute;
		width: 14.35px;
		height: 15.896px;
		left: 369.836px;
		top: 167.338px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_818 {
		fill: rgba(255, 255, 255, 1);
	}

	.Path_818 {
		overflow: visible;
		position: absolute;
		width: 3.064px;
		height: 3.016px;
		left: 378.067px;
		top: 180.217px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_819 {
		fill: rgba(133, 51, 27, 1);
	}

	.Path_819 {
		overflow: visible;
		position: absolute;
		width: 14px;
		height: 8.802px;
		left: 369.531px;
		top: 167.399px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_820 {
		fill: rgba(55, 24, 11, 1);
	}

	.Path_820 {
		overflow: visible;
		position: absolute;
		width: 15.24px;
		height: 17.16px;
		left: 369.531px;
		top: 166.754px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_821 {
		fill: rgba(35, 31, 32, 1);
	}

	.Path_821 {
		overflow: visible;
		position: absolute;
		width: 8.613px;
		height: 9.417px;
		left: 371.627px;
		top: 170.823px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_822 {
		fill: rgba(157, 76, 67, 1);
	}

	.Path_822 {
		overflow: visible;
		position: absolute;
		width: 24.27px;
		height: 33.88px;
		left: 367.821px;
		top: 152.551px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_823 {
		fill: rgba(232, 104, 36, 1);
	}

	.Path_823 {
		overflow: visible;
		position: absolute;
		width: 25.35px;
		height: 31.632px;
		left: 240.398px;
		top: 238.002px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_824 {
		fill: rgba(215, 66, 38, 1);
	}

	.Path_824 {
		overflow: visible;
		position: absolute;
		width: 25.339px;
		height: 31.63px;
		left: 240.409px;
		top: 238.002px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_825 {
		fill: rgba(157, 76, 67, 1);
	}

	.Path_825 {
		overflow: visible;
		position: absolute;
		width: 26.158px;
		height: 22.513px;
		left: 239.55px;
		top: 237.324px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_826 {
		fill: rgba(35, 31, 32, 1);
	}

	.Path_826 {
		overflow: visible;
		position: absolute;
		width: 49.027px;
		height: 59.006px;
		left: 243.604px;
		top: 194.811px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_827 {
		fill: rgba(255, 255, 255, 1);
	}

	.Path_827 {
		overflow: visible;
		position: absolute;
		width: 241.635px;
		height: 208.225px;
		left: 147.01px;
		top: 3.317px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_828_ev {
		fill: url(#Path_828_ev);
	}

	.Path_828_ev {
		overflow: visible;
		position: absolute;
		width: 231.389px;
		height: 120.122px;
		left: 153.939px;
		top: 86.68px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_829 {
		fill: rgba(215, 213, 193, 1);
	}

	.Path_829 {
		overflow: visible;
		position: absolute;
		width: 31.531px;
		height: 15.682px;
		left: 189.607px;
		top: 81.809px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_830_ey {
		fill: url(#Path_830_ey);
	}

	.Path_830_ey {
		overflow: visible;
		position: absolute;
		width: 55.214px;
		height: 35.756px;
		left: 262.844px;
		top: 41.863px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_831 {
		fill: rgba(152, 132, 119, 1);
	}

	.Path_831 {
		overflow: visible;
		position: absolute;
		width: 247.492px;
		height: 217.857px;
		left: 141.64px;
		top: 0px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_832 {
		fill: rgba(208, 210, 211, 1);
	}

	.Path_832 {
		overflow: visible;
		position: absolute;
		width: 10.108px;
		height: 11.812px;
		left: 391.094px;
		top: 218.456px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_833 {
		fill: rgba(157, 76, 67, 1);
	}

	.Path_833 {
		overflow: visible;
		position: absolute;
		width: 38.515px;
		height: 44.486px;
		left: 360.903px;
		top: 180.615px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_834 {
		fill: rgba(255, 255, 255, 1);
	}

	.Path_834 {
		overflow: visible;
		position: absolute;
		width: 11.767px;
		height: 11.585px;
		left: 316.201px;
		top: 168.592px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_835 {
		fill: rgba(255, 255, 255, 1);
	}

	.Path_835 {
		overflow: visible;
		position: absolute;
		width: 8.867px;
		height: 8.729px;
		left: 372.97px;
		top: 165.438px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_836 {
		fill: rgba(35, 31, 32, 1);
	}

	.Path_836 {
		overflow: visible;
		position: absolute;
		width: 33.022px;
		height: 44.905px;
		left: 293.865px;
		top: 123.037px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_837 {
		fill: rgba(35, 31, 32, 1);
	}

	.Path_837 {
		overflow: visible;
		position: absolute;
		width: 31.373px;
		height: 26.545px;
		left: 370.916px;
		top: 126.298px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_838 {
		fill: rgba(157, 76, 67, 1);
	}

	.Path_838 {
		overflow: visible;
		position: absolute;
		width: 30.875px;
		height: 23.614px;
		left: 292.631px;
		top: 186.235px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_839_e {
		fill: url(#Path_839_e);
	}

	.Path_839_e {
		overflow: visible;
		position: absolute;
		width: 16.18px;
		height: 24.109px;
		left: 252.903px;
		top: 199.032px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_840_fa {
		fill: url(#Path_840_fa);
	}

	.Path_840_fa {
		overflow: visible;
		position: absolute;
		width: 18.489px;
		height: 11.71px;
		left: 370.845px;
		top: 184.813px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_841_fc {
		fill: url(#Path_841_fc);
	}

	.Path_841_fc {
		overflow: visible;
		position: absolute;
		width: 13.908px;
		height: 7.951px;
		left: 389.489px;
		top: 295.909px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_842_fe {
		fill: url(#Path_842_fe);
	}

	.Path_842_fe {
		overflow: visible;
		position: absolute;
		width: 14.31px;
		height: 9.365px;
		left: 298.835px;
		top: 189.667px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_843 {
		fill: rgba(243, 117, 33, 1);
	}

	.Path_843 {
		overflow: visible;
		position: absolute;
		width: 22.92px;
		height: 8.088px;
		left: 360.455px;
		top: 263.705px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_844 {
		fill: rgba(197, 202, 228, 1);
	}

	.Path_844 {
		overflow: visible;
		position: absolute;
		width: 25.956px;
		height: 18.874px;
		left: 318.586px;
		top: 211.293px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_845 {
		fill: rgba(152, 132, 119, 1);
	}

	.Path_845 {
		overflow: visible;
		position: absolute;
		width: 222.771px;
		height: 140.367px;
		left: 65.225px;
		top: 463.767px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_846_fj {
		fill: url(#Path_846_fj);
	}

	.Path_846_fj {
		overflow: visible;
		position: absolute;
		width: 206.615px;
		height: 142.742px;
		left: 81.394px;
		top: 456.659px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_847_fl {
		fill: url(#Path_847_fl);
	}

	.Path_847_fl {
		overflow: visible;
		position: absolute;
		width: 198.976px;
		height: 99.207px;
		left: 164.452px;
		top: 448.88px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_848_fn {
		fill: url(#Path_848_fn);
	}

	.Path_848_fn {
		overflow: visible;
		position: absolute;
		width: 170.077px;
		height: 92.957px;
		left: 166.136px;
		top: 452.831px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_849 {
		fill: rgba(236, 120, 39, 1);
	}

	.Path_849 {
		overflow: visible;
		position: absolute;
		width: 70.786px;
		height: 60.659px;
		left: 213.432px;
		top: 458.023px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_850 {
		fill: rgba(248, 182, 113, 1);
	}

	.Path_850 {
		overflow: visible;
		position: absolute;
		width: 27.663px;
		height: 29.427px;
		left: 320.067px;
		top: 501.658px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_851 {
		fill: rgba(248, 182, 113, 1);
	}

	.Path_851 {
		overflow: visible;
		position: absolute;
		width: 24.442px;
		height: 26.593px;
		left: 337.344px;
		top: 477.958px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_852_fs {
		fill: url(#Path_852_fs);
	}

	.Path_852_fs {
		overflow: visible;
		position: absolute;
		width: 35.442px;
		height: 48.799px;
		left: 318.771px;
		top: 471.239px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_853_fu {
		fill: url(#Path_853_fu);
	}

	.Path_853_fu {
		overflow: visible;
		position: absolute;
		width: 30.476px;
		height: 43.706px;
		left: 301.647px;
		top: 500.7px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_854_fw {
		fill: url(#Path_854_fw);
	}

	.Path_854_fw {
		overflow: visible;
		position: absolute;
		width: 30.551px;
		height: 38.939px;
		left: 332.877px;
		top: 456.659px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_855 {
		fill: rgba(157, 76, 67, 1);
	}

	.Path_855 {
		overflow: visible;
		position: absolute;
		width: 206.903px;
		height: 105.247px;
		left: 161.004px;
		top: 444.64px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_856_fz {
		fill: url(#Path_856_fz);
	}

	.Path_856_fz {
		overflow: visible;
		position: absolute;
		width: 122.642px;
		height: 113.648px;
		left: 5.802px;
		top: 489.873px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_857 {
		fill: rgba(152, 132, 119, 1);
	}

	.Path_857 {
		overflow: visible;
		position: absolute;
		width: 130.234px;
		height: 116.397px;
		left: 4.74px;
		top: 488.463px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_858_f {
		fill: url(#Path_858_f);
	}

	.Path_858_f {
		overflow: visible;
		position: absolute;
		width: 158.584px;
		height: 214.11px;
		left: 497.406px;
		top: 238.946px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_859_f {
		fill: url(#Path_859_f);
	}

	.Path_859_f {
		overflow: visible;
		position: absolute;
		width: 34.437px;
		height: 162.177px;
		left: 577.431px;
		top: 283.208px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_860_f {
		fill: url(#Path_860_f);
	}

	.Path_860_f {
		overflow: visible;
		position: absolute;
		width: 71.926px;
		height: 41.273px;
		left: 493.887px;
		top: 268.723px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_861_f {
		fill: url(#Path_861_f);
	}

	.Path_861_f {
		overflow: visible;
		position: absolute;
		width: 62.906px;
		height: 164.141px;
		left: 513.791px;
		top: 286.16px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_862 {
		fill: rgba(255, 223, 149, 1);
	}

	.Path_862 {
		overflow: visible;
		position: absolute;
		width: 38.936px;
		height: 73.821px;
		left: 513.791px;
		top: 319.735px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_863 {
		fill: rgba(255, 223, 149, 1);
	}

	.Path_863 {
		overflow: visible;
		position: absolute;
		width: 25.232px;
		height: 14.119px;
		left: 533.01px;
		top: 305.996px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_864 {
		fill: rgba(157, 76, 67, 1);
	}

	.Path_864 {
		overflow: visible;
		position: absolute;
		width: 167.849px;
		height: 216.102px;
		left: 491.519px;
		top: 235.829px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_865 {
		fill: rgba(152, 132, 119, 1);
	}

	.Path_865 {
		overflow: visible;
		position: absolute;
		width: 74.827px;
		height: 70.482px;
		left: 512.577px;
		top: 383.559px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_866 {
		fill: rgba(255, 255, 255, 1);
	}

	.Path_866 {
		overflow: visible;
		position: absolute;
		width: 250.707px;
		height: 175.506px;
		left: 34.582px;
		top: 426.038px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_867_gf {
		fill: url(#Path_867_gf);
	}

	.Path_867_gf {
		overflow: visible;
		position: absolute;
		width: 154.724px;
		height: 128.791px;
		left: 104.307px;
		top: 473.214px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_868 {
		fill: rgba(215, 213, 193, 1);
	}

	.Path_868 {
		overflow: visible;
		position: absolute;
		width: 99.843px;
		height: 37.728px;
		left: 153.224px;
		top: 449.261px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_869 {
		fill: rgba(152, 132, 119, 1);
	}

	.Path_869 {
		overflow: visible;
		position: absolute;
		width: 117.679px;
		height: 117.003px;
		left: 154.138px;
		top: 334.407px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_870 {
		fill: rgba(152, 132, 119, 1);
	}

	.Path_870 {
		overflow: visible;
		position: absolute;
		width: 254.575px;
		height: 183.858px;
		left: 32.404px;
		top: 420.944px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_871 {
		fill: rgba(119, 52, 34, 1);
	}

	.Path_871 {
		overflow: visible;
		position: absolute;
		width: 18.814px;
		height: 24.469px;
		left: 550.883px;
		top: 268.409px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_872_gl {
		fill: url(#Path_872_gl);
	}

	.Path_872_gl {
		overflow: visible;
		position: absolute;
		width: 41.457px;
		height: 20.937px;
		left: 146.568px;
		top: 263.946px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_873_gn {
		fill: url(#Path_873_gn);
	}

	.Path_873_gn {
		overflow: visible;
		position: absolute;
		width: 19.632px;
		height: 36.95px;
		left: 395.567px;
		top: 304.998px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_874_gp {
		fill: url(#Path_874_gp);
	}

	.Path_874_gp {
		overflow: visible;
		position: absolute;
		width: 47.757px;
		height: 23.989px;
		left: 330.774px;
		top: 324.537px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_875_gr {
		fill: url(#Path_875_gr);
	}

	.Path_875_gr {
		overflow: visible;
		position: absolute;
		width: 21.817px;
		height: 55.195px;
		left: 270.814px;
		top: 190.791px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_876 {
		fill: rgba(215, 213, 193, 1);
	}

	.Path_876 {
		overflow: visible;
		position: absolute;
		width: 17.093px;
		height: 16.069px;
		left: 315.519px;
		top: 387.135px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_877 {
		fill: rgba(152, 132, 119, 1);
	}

	.Path_877 {
		overflow: visible;
		position: absolute;
		width: 17.354px;
		height: 16.521px;
		left: 316.461px;
		top: 386.69px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_878 {
		fill: rgba(255, 255, 255, 1);
	}

	.Path_878 {
		overflow: visible;
		position: absolute;
		width: 10.128px;
		height: 14.598px;
		left: 322.483px;
		top: 387.61px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_879 {
		fill: rgba(255, 255, 255, 1);
	}

	.Path_879 {
		overflow: visible;
		position: absolute;
		width: 271.923px;
		height: 118.854px;
		left: 454.902px;
		top: 168.693px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_880 {
		fill: rgba(218, 204, 191, 1);
	}

	.Path_880 {
		overflow: visible;
		position: absolute;
		width: 82.693px;
		height: 22.135px;
		left: 463.876px;
		top: 265.411px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_881 {
		fill: rgba(218, 204, 191, 1);
	}

	.Path_881 {
		overflow: visible;
		position: absolute;
		width: 20.442px;
		height: 23.432px;
		left: 683.669px;
		top: 211.285px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_882 {
		fill: rgba(152, 132, 119, 1);
	}

	.Path_882 {
		overflow: visible;
		position: absolute;
		width: 278.682px;
		height: 123.984px;
		left: 452.335px;
		top: 166.129px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_883 {
		fill: rgba(235, 139, 35, 1);
	}

	.Path_883 {
		overflow: visible;
		position: absolute;
		width: 246.531px;
		height: 112.355px;
		left: 463.568px;
		top: 160.2px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_884_g {
		fill: url(#Path_884_g);
	}

	.Path_884_g {
		overflow: visible;
		position: absolute;
		width: 23.796px;
		height: 44.903px;
		left: 686.289px;
		top: 170.538px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_885 {
		fill: rgba(255, 223, 149, 1);
	}

	.Path_885 {
		overflow: visible;
		position: absolute;
		width: 8.397px;
		height: 28.954px;
		left: 463.515px;
		top: 236.744px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_886 {
		fill: rgba(209, 110, 39, 1);
	}

	.Path_886 {
		overflow: visible;
		position: absolute;
		width: 33.011px;
		height: 21.372px;
		left: 607.924px;
		top: 231.652px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_887 {
		fill: rgba(209, 110, 39, 1);
	}

	.Path_887 {
		overflow: visible;
		position: absolute;
		width: 57.388px;
		height: 25.042px;
		left: 468.753px;
		top: 247.51px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_888 {
		fill: rgba(157, 76, 67, 1);
	}

	.Path_888 {
		overflow: visible;
		position: absolute;
		width: 248.596px;
		height: 114.405px;
		left: 462.542px;
		top: 159.175px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_889 {
		fill: rgba(248, 193, 19, 1);
	}

	.Path_889 {
		overflow: visible;
		position: absolute;
		width: 217.667px;
		height: 88.935px;
		left: 479.976px;
		top: 167.909px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_890 {
		fill: rgba(255, 228, 159, 1);
	}

	.Path_890 {
		overflow: visible;
		position: absolute;
		width: 44.605px;
		height: 32.326px;
		left: 523.103px;
		top: 195.273px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_891 {
		fill: rgba(255, 228, 159, 1);
	}

	.Path_891 {
		overflow: visible;
		position: absolute;
		width: 49.107px;
		height: 31.278px;
		left: 578.831px;
		top: 198.305px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_892 {
		fill: rgba(255, 228, 159, 1);
	}

	.Path_892 {
		overflow: visible;
		position: absolute;
		width: 42.225px;
		height: 23.077px;
		left: 488.768px;
		top: 229.009px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_893 {
		fill: rgba(231, 136, 36, 1);
	}

	.Path_893 {
		overflow: visible;
		position: absolute;
		width: 23.597px;
		height: 15.462px;
		left: 511.178px;
		top: 235.261px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_894 {
		fill: rgba(231, 136, 36, 1);
	}

	.Path_894 {
		overflow: visible;
		position: absolute;
		width: 15px;
		height: 10.269px;
		left: 569.1px;
		top: 181.353px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_895 {
		fill: rgba(231, 136, 36, 1);
	}

	.Path_895 {
		overflow: visible;
		position: absolute;
		width: 19.833px;
		height: 11.484px;
		left: 611.084px;
		top: 195.805px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_896 {
		fill: rgba(255, 228, 159, 1);
	}

	.Path_896 {
		overflow: visible;
		position: absolute;
		width: 47.06px;
		height: 23.032px;
		left: 631.4px;
		top: 171.299px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_897 {
		fill: rgba(194, 58, 38, 1);
	}

	.Path_897 {
		overflow: visible;
		position: absolute;
		width: 222.782px;
		height: 91.915px;
		left: 477.237px;
		top: 166.285px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_898 {
		fill: rgba(142, 51, 29, 1);
	}

	.Path_898 {
		overflow: visible;
		position: absolute;
		width: 23.582px;
		height: 18.273px;
		left: 632.406px;
		top: 199.936px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_899 {
		fill: rgba(246, 220, 195, 1);
	}

	.Path_899 {
		overflow: visible;
		position: absolute;
		width: 23.567px;
		height: 17.78px;
		left: 632.375px;
		top: 198.977px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_900 {
		fill: rgba(142, 51, 29, 1);
	}

	.Path_900 {
		overflow: visible;
		position: absolute;
		width: 19.944px;
		height: 13.319px;
		left: 505.701px;
		top: 213.243px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_901 {
		fill: rgba(246, 220, 195, 1);
	}

	.Path_901 {
		overflow: visible;
		position: absolute;
		width: 19.458px;
		height: 12.635px;
		left: 505.883px;
		top: 212.965px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_902 {
		fill: rgba(118, 192, 77, 1);
	}

	.Path_902 {
		overflow: visible;
		position: absolute;
		width: 29.439px;
		height: 18.234px;
		left: 520.712px;
		top: 194.966px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_903 {
		fill: rgba(66, 125, 60, 1);
	}

	.Path_903 {
		overflow: visible;
		position: absolute;
		width: 30.315px;
		height: 19.173px;
		left: 520.223px;
		top: 194.427px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_904 {
		fill: rgba(66, 125, 60, 1);
	}

	.Path_904 {
		overflow: visible;
		position: absolute;
		width: 18.02px;
		height: 11.079px;
		left: 529.132px;
		top: 198.32px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_905 {
		fill: rgba(118, 192, 77, 1);
	}

	.Path_905 {
		overflow: visible;
		position: absolute;
		width: 30.837px;
		height: 9.063px;
		left: 589.05px;
		top: 184.454px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_906 {
		fill: rgba(66, 125, 60, 1);
	}

	.Path_906 {
		overflow: visible;
		position: absolute;
		width: 32.195px;
		height: 9.831px;
		left: 588.204px;
		top: 184.137px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_907 {
		fill: rgba(66, 125, 60, 1);
	}

	.Path_907 {
		overflow: visible;
		position: absolute;
		width: 20.498px;
		height: 3.116px;
		left: 591.431px;
		top: 186.081px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_908 {
		fill: rgba(191, 31, 37, 1);
	}

	.Path_908 {
		overflow: visible;
		position: absolute;
		width: 33.458px;
		height: 18.135px;
		left: 490.646px;
		top: 229.653px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_909 {
		fill: rgba(191, 31, 37, 1);
	}

	.Path_909 {
		overflow: visible;
		position: absolute;
		width: 33.111px;
		height: 18.573px;
		left: 598.282px;
		top: 211.541px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_910 {
		fill: rgba(191, 31, 37, 1);
	}

	.Path_910 {
		overflow: visible;
		position: absolute;
		width: 26.112px;
		height: 14.651px;
		left: 541.596px;
		top: 190.483px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_911 {
		fill: rgba(191, 31, 37, 1);
	}

	.Path_911 {
		overflow: visible;
		position: absolute;
		width: 30.989px;
		height: 15.929px;
		left: 571.701px;
		top: 196.506px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_912 {
		fill: rgba(191, 31, 37, 1);
	}

	.Path_912 {
		overflow: visible;
		position: absolute;
		width: 30.99px;
		height: 15.929px;
		left: 543.97px;
		top: 230.701px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_913 {
		fill: rgba(191, 31, 37, 1);
	}

	.Path_913 {
		overflow: visible;
		position: absolute;
		width: 31.571px;
		height: 15.669px;
		left: 617.389px;
		top: 173.926px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_914 {
		fill: rgba(191, 31, 37, 1);
	}

	.Path_914 {
		overflow: visible;
		position: absolute;
		width: 33.244px;
		height: 18.474px;
		left: 490.582px;
		top: 227.449px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_915 {
		fill: rgba(191, 31, 37, 1);
	}

	.Path_915 {
		overflow: visible;
		position: absolute;
		width: 32.891px;
		height: 19.166px;
		left: 598.214px;
		top: 209.255px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_916 {
		fill: rgba(191, 31, 37, 1);
	}

	.Path_916 {
		overflow: visible;
		position: absolute;
		width: 25.939px;
		height: 15.118px;
		left: 541.545px;
		top: 188.68px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_917 {
		fill: rgba(191, 31, 37, 1);
	}

	.Path_917 {
		overflow: visible;
		position: absolute;
		width: 30.838px;
		height: 16.32px;
		left: 571.667px;
		top: 194.575px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_918 {
		fill: rgba(191, 31, 37, 1);
	}

	.Path_918 {
		overflow: visible;
		position: absolute;
		width: 30.837px;
		height: 16.32px;
		left: 543.937px;
		top: 228.77px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_919 {
		fill: rgba(191, 31, 37, 1);
	}

	.Path_919 {
		overflow: visible;
		position: absolute;
		width: 31.372px;
		height: 15.984px;
		left: 617.332px;
		top: 172.061px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_920_h {
		fill: url(#Path_920_h);
	}

	.Path_920_h {
		overflow: visible;
		position: absolute;
		width: 30.881px;
		height: 16.908px;
		left: 491.714px;
		top: 228.059px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_921_h {
		fill: url(#Path_921_h);
	}

	.Path_921_h {
		overflow: visible;
		position: absolute;
		width: 30.552px;
		height: 17.554px;
		left: 599.333px;
		top: 209.888px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_922 {
		fill: rgba(230, 46, 37, 1);
	}

	.Path_922 {
		overflow: visible;
		position: absolute;
		width: 24.096px;
		height: 13.846px;
		left: 542.427px;
		top: 189.179px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_923 {
		fill: rgba(230, 46, 37, 1);
	}

	.Path_923 {
		overflow: visible;
		position: absolute;
		width: 28.652px;
		height: 14.927px;
		left: 572.721px;
		top: 195.113px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_924_h {
		fill: url(#Path_924_h);
	}

	.Path_924_h {
		overflow: visible;
		position: absolute;
		width: 28.653px;
		height: 14.927px;
		left: 544.99px;
		top: 229.308px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Ellipse_11_ia {
		fill: url(#Ellipse_11_ia);
	}

	.Ellipse_11_ia {
		width: 29.612px;
		height: 13.626px;
		position: absolute;
		overflow: visible;
		transform: translate(0px, 0px) matrix(1, 0, 0, 1, 618.1656, 173.0802) rotate(-11.553deg);
		transform-origin: center;
	}

	#Path_925 {
		fill: rgba(255, 223, 149, 1);
	}

	.Path_925 {
		overflow: visible;
		position: absolute;
		width: 3.437px;
		height: 1.882px;
		left: 500.455px;
		top: 240.487px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_926 {
		fill: rgba(255, 223, 149, 1);
	}

	.Path_926 {
		overflow: visible;
		position: absolute;
		width: 3.615px;
		height: 2.077px;
		left: 608.672px;
		top: 221.704px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_927 {
		fill: rgba(255, 223, 149, 1);
	}

	.Path_927 {
		overflow: visible;
		position: absolute;
		width: 2.683px;
		height: 1.541px;
		left: 549.257px;
		top: 199.381px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_928 {
		fill: rgba(255, 223, 149, 1);
	}

	.Path_928 {
		overflow: visible;
		position: absolute;
		width: 3.189px;
		height: 1.661px;
		left: 581.914px;
		top: 206.047px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_929 {
		fill: rgba(255, 223, 149, 1);
	}

	.Path_929 {
		overflow: visible;
		position: absolute;
		width: 3.189px;
		height: 1.661px;
		left: 552.939px;
		top: 240.234px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_930 {
		fill: rgba(255, 223, 149, 1);
	}

	.Path_930 {
		overflow: visible;
		position: absolute;
		width: 3.244px;
		height: 1.626px;
		left: 626.63px;
		top: 183.225px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_931 {
		fill: rgba(255, 223, 149, 1);
	}

	.Path_931 {
		overflow: visible;
		position: absolute;
		width: 3.123px;
		height: 1.71px;
		left: 510.016px;
		top: 230.202px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_932 {
		fill: rgba(255, 223, 149, 1);
	}

	.Path_932 {
		overflow: visible;
		position: absolute;
		width: 3.091px;
		height: 1.775px;
		left: 616.231px;
		top: 212.242px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_933 {
		fill: rgba(255, 223, 149, 1);
	}

	.Path_933 {
		overflow: visible;
		position: absolute;
		width: 2.437px;
		height: 1.4px;
		left: 556.698px;
		top: 190.935px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_934 {
		fill: rgba(255, 223, 149, 1);
	}

	.Path_934 {
		overflow: visible;
		position: absolute;
		width: 2.898px;
		height: 1.51px;
		left: 588.174px;
		top: 196.81px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_935 {
		fill: rgba(255, 223, 149, 1);
	}

	.Path_935 {
		overflow: visible;
		position: absolute;
		width: 2.897px;
		height: 1.51px;
		left: 559.46px;
		top: 231.057px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_936 {
		fill: rgba(255, 223, 149, 1);
	}

	.Path_936 {
		overflow: visible;
		position: absolute;
		width: 2.948px;
		height: 1.478px;
		left: 635.695px;
		top: 174.484px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_937 {
		fill: rgba(255, 223, 149, 1);
	}

	.Path_937 {
		overflow: visible;
		position: absolute;
		width: 2.852px;
		height: 1.561px;
		left: 516.144px;
		top: 232.097px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_938 {
		fill: rgba(255, 223, 149, 1);
	}

	.Path_938 {
		overflow: visible;
		position: absolute;
		width: 2.822px;
		height: 1.621px;
		left: 623.497px;
		top: 213.82px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_939 {
		fill: rgba(255, 223, 149, 1);
	}

	.Path_939 {
		overflow: visible;
		position: absolute;
		width: 2.225px;
		height: 1.279px;
		left: 561.488px;
		top: 192.284px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_940 {
		fill: rgba(255, 223, 149, 1);
	}

	.Path_940 {
		overflow: visible;
		position: absolute;
		width: 2.646px;
		height: 1.378px;
		left: 594.867px;
		top: 198.412px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_941 {
		fill: rgba(255, 223, 149, 1);
	}

	.Path_941 {
		overflow: visible;
		position: absolute;
		width: 2.646px;
		height: 1.378px;
		left: 567.708px;
		top: 233.124px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_942 {
		fill: rgba(255, 223, 149, 1);
	}

	.Path_942 {
		overflow: visible;
		position: absolute;
		width: 2.692px;
		height: 1.349px;
		left: 641.128px;
		top: 177.143px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_943 {
		fill: rgba(255, 223, 149, 1);
	}

	.Path_943 {
		overflow: visible;
		position: absolute;
		width: 3.123px;
		height: 1.71px;
		left: 494.988px;
		top: 236.592px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_944 {
		fill: rgba(255, 223, 149, 1);
	}

	.Path_944 {
		overflow: visible;
		position: absolute;
		width: 3.09px;
		height: 1.775px;
		left: 603.796px;
		top: 218.838px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_945 {
		fill: rgba(255, 223, 149, 1);
	}

	.Path_945 {
		overflow: visible;
		position: absolute;
		width: 2.437px;
		height: 1.4px;
		left: 544.979px;
		top: 196.434px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_946 {
		fill: rgba(255, 223, 149, 1);
	}

	.Path_946 {
		overflow: visible;
		position: absolute;
		width: 2.897px;
		height: 1.51px;
		left: 575.539px;
		top: 204.523px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_947 {
		fill: rgba(255, 223, 149, 1);
	}

	.Path_947 {
		overflow: visible;
		position: absolute;
		width: 2.897px;
		height: 1.51px;
		left: 548.228px;
		top: 237.186px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_948 {
		fill: rgba(255, 223, 149, 1);
	}

	.Path_948 {
		overflow: visible;
		position: absolute;
		width: 2.948px;
		height: 1.478px;
		left: 621.498px;
		top: 179.339px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_949 {
		fill: rgba(255, 223, 149, 1);
	}

	.Path_949 {
		overflow: visible;
		position: absolute;
		width: 3.123px;
		height: 1.71px;
		left: 501.869px;
		top: 230.993px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_950 {
		fill: rgba(255, 223, 149, 1);
	}

	.Path_950 {
		overflow: visible;
		position: absolute;
		width: 3.09px;
		height: 1.775px;
		left: 606.575px;
		top: 215.239px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_951 {
		fill: rgba(255, 223, 149, 1);
	}

	.Path_951 {
		overflow: visible;
		position: absolute;
		width: 2.437px;
		height: 1.4px;
		left: 550.339px;
		top: 191.788px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_952 {
		fill: rgba(255, 223, 149, 1);
	}

	.Path_952 {
		overflow: visible;
		position: absolute;
		width: 2.898px;
		height: 1.51px;
		left: 581.655px;
		top: 198.222px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_953 {
		fill: rgba(255, 223, 149, 1);
	}

	.Path_953 {
		overflow: visible;
		position: absolute;
		width: 2.897px;
		height: 1.51px;
		left: 552.578px;
		top: 233.544px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_954 {
		fill: rgba(255, 223, 149, 1);
	}

	.Path_954 {
		overflow: visible;
		position: absolute;
		width: 2.948px;
		height: 1.478px;
		left: 628.013px;
		top: 174.693px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_955 {
		fill: rgba(255, 223, 149, 1);
	}

	.Path_955 {
		overflow: visible;
		position: absolute;
		width: 2.912px;
		height: 1.594px;
		left: 503.514px;
		top: 235.001px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_956 {
		fill: rgba(255, 223, 149, 1);
	}

	.Path_956 {
		overflow: visible;
		position: absolute;
		width: 2.881px;
		height: 1.655px;
		left: 613.861px;
		top: 216.553px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_957 {
		fill: rgba(255, 223, 149, 1);
	}

	.Path_957 {
		overflow: visible;
		position: absolute;
		width: 2.272px;
		height: 1.306px;
		left: 551.632px;
		top: 194.939px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_958 {
		fill: rgba(255, 223, 149, 1);
	}

	.Path_958 {
		overflow: visible;
		position: absolute;
		width: 2.702px;
		height: 1.408px;
		left: 585.577px;
		top: 201.481px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_959 {
		fill: rgba(255, 223, 149, 1);
	}

	.Path_959 {
		overflow: visible;
		position: absolute;
		width: 2.702px;
		height: 1.407px;
		left: 559.46px;
		top: 235.51px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_960 {
		fill: rgba(255, 223, 149, 1);
	}

	.Path_960 {
		overflow: visible;
		position: absolute;
		width: 2.748px;
		height: 1.378px;
		left: 629.543px;
		top: 178.42px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_961 {
		fill: rgba(255, 223, 149, 1);
	}

	.Path_961 {
		overflow: visible;
		position: absolute;
		width: 3.123px;
		height: 1.71px;
		left: 511.028px;
		top: 238.427px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_962 {
		fill: rgba(255, 223, 149, 1);
	}

	.Path_962 {
		overflow: visible;
		position: absolute;
		width: 3.089px;
		height: 1.775px;
		left: 619.321px;
		top: 218.726px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_963 {
		fill: rgba(255, 223, 149, 1);
	}

	.Path_963 {
		overflow: visible;
		position: absolute;
		width: 2.437px;
		height: 1.4px;
		left: 557.507px;
		top: 197.459px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_964 {
		fill: rgba(255, 223, 149, 1);
	}

	.Path_964 {
		overflow: visible;
		position: absolute;
		width: 2.898px;
		height: 1.51px;
		left: 591.181px;
		top: 204.269px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_965 {
		fill: rgba(255, 223, 149, 1);
	}

	.Path_965 {
		overflow: visible;
		position: absolute;
		width: 2.897px;
		height: 1.51px;
		left: 562.735px;
		top: 238.702px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_966 {
		fill: rgba(255, 223, 149, 1);
	}

	.Path_966 {
		overflow: visible;
		position: absolute;
		width: 3.186px;
		height: 1.598px;
		left: 636.074px;
		top: 181.549px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_967_ji {
		fill: url(#Path_967_ji);
	}

	.Path_967_ji {
		overflow: visible;
		position: absolute;
		width: 34.728px;
		height: 18.437px;
		left: 529.502px;
		top: 210.525px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_968 {
		fill: rgba(191, 31, 37, 1);
	}

	.Path_968 {
		overflow: visible;
		position: absolute;
		width: 36.17px;
		height: 22.692px;
		left: 528.999px;
		top: 210.077px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_969 {
		fill: rgba(191, 31, 37, 1);
	}

	.Path_969 {
		overflow: visible;
		position: absolute;
		width: 19.5px;
		height: 11.168px;
		left: 536.378px;
		top: 212.719px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_970 {
		fill: rgba(255, 223, 149, 1);
	}

	.Path_970 {
		overflow: visible;
		position: absolute;
		width: 2.857px;
		height: 1.388px;
		left: 541.963px;
		top: 215.577px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_971 {
		fill: rgba(255, 223, 149, 1);
	}

	.Path_971 {
		overflow: visible;
		position: absolute;
		width: 2.517px;
		height: 1.942px;
		left: 543.84px;
		top: 217.256px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_972 {
		fill: rgba(255, 223, 149, 1);
	}

	.Path_972 {
		overflow: visible;
		position: absolute;
		width: 1.783px;
		height: 2.422px;
		left: 546.929px;
		top: 218.22px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_973 {
		fill: rgba(255, 223, 149, 1);
	}

	.Path_973 {
		overflow: visible;
		position: absolute;
		width: 1.059px;
		height: 2.393px;
		left: 550.396px;
		top: 218.33px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_974 {
		fill: rgba(244, 141, 130, 1);
	}

	.Path_974 {
		overflow: visible;
		position: absolute;
		width: 4.763px;
		height: 5.94px;
		left: 530.461px;
		top: 225.931px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_975_jr {
		fill: url(#Path_975_jr);
	}

	.Path_975_jr {
		overflow: visible;
		position: absolute;
		width: 40.225px;
		height: 22.656px;
		left: 644.156px;
		top: 179.074px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_976 {
		fill: rgba(191, 31, 37, 1);
	}

	.Path_976 {
		overflow: visible;
		position: absolute;
		width: 43.054px;
		height: 24.928px;
		left: 643.234px;
		top: 178.426px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_977 {
		fill: rgba(191, 31, 37, 1);
	}

	.Path_977 {
		overflow: visible;
		position: absolute;
		width: 21.826px;
		height: 14.373px;
		left: 653.492px;
		top: 182.217px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_978 {
		fill: rgba(255, 223, 149, 1);
	}

	.Path_978 {
		overflow: visible;
		position: absolute;
		width: 3.674px;
		height: 1.288px;
		left: 663.159px;
		top: 185.019px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_979 {
		fill: rgba(255, 223, 149, 1);
	}

	.Path_979 {
		overflow: visible;
		position: absolute;
		width: 3.72px;
		height: 1.15px;
		left: 662.62px;
		top: 188.294px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_980 {
		fill: rgba(255, 223, 149, 1);
	}

	.Path_980 {
		overflow: visible;
		position: absolute;
		width: 3.208px;
		height: 1.692px;
		left: 660.802px;
		top: 191.063px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_981 {
		fill: rgba(255, 223, 149, 1);
	}

	.Path_981 {
		overflow: visible;
		position: absolute;
		width: 2.266px;
		height: 2.188px;
		left: 658.145px;
		top: 192.94px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_982 {
		fill: rgba(244, 141, 130, 1);
	}

	.Path_982 {
		overflow: visible;
		position: absolute;
		width: 3.476px;
		height: 9.243px;
		left: 681.858px;
		top: 187.306px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_983 {
		fill: rgba(118, 192, 77, 1);
	}

	.Path_983 {
		overflow: visible;
		position: absolute;
		width: 31.415px;
		height: 8.764px;
		left: 562.982px;
		top: 217.177px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_984 {
		fill: rgba(66, 125, 60, 1);
	}

	.Path_984 {
		overflow: visible;
		position: absolute;
		width: 32.412px;
		height: 9.463px;
		left: 562.48px;
		top: 216.991px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_985 {
		fill: rgba(66, 125, 60, 1);
	}

	.Path_985 {
		overflow: visible;
		position: absolute;
		width: 19.508px;
		height: 2.609px;
		left: 571.255px;
		top: 219.047px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_986 {
		fill: rgba(55, 24, 11, 1);
	}

	.Path_986 {
		overflow: visible;
		position: absolute;
		width: 23.488px;
		height: 15.532px;
		left: 514.151px;
		top: 233.813px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_987 {
		fill: rgba(114, 54, 23, 1);
	}

	.Path_987 {
		overflow: visible;
		position: absolute;
		width: 14.127px;
		height: 8.395px;
		left: 519.176px;
		top: 235.137px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_988 {
		fill: rgba(255, 253, 238, 1);
	}

	.Path_988 {
		overflow: visible;
		position: absolute;
		width: 4.724px;
		height: 2.828px;
		left: 527.666px;
		top: 236.859px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_989 {
		fill: rgba(55, 24, 11, 1);
	}

	.Path_989 {
		overflow: visible;
		position: absolute;
		width: 23.488px;
		height: 15.532px;
		left: 612.208px;
		top: 191.201px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_990 {
		fill: rgba(114, 54, 23, 1);
	}

	.Path_990 {
		overflow: visible;
		position: absolute;
		width: 14.127px;
		height: 8.394px;
		left: 617.232px;
		top: 192.525px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_991 {
		fill: rgba(255, 253, 238, 1);
	}

	.Path_991 {
		overflow: visible;
		position: absolute;
		width: 4.723px;
		height: 2.828px;
		left: 625.885px;
		top: 194.656px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_992 {
		fill: rgba(55, 24, 11, 1);
	}

	.Path_992 {
		overflow: visible;
		position: absolute;
		width: 17.043px;
		height: 11.871px;
		left: 571.23px;
		top: 179.664px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_993 {
		fill: rgba(114, 54, 23, 1);
	}

	.Path_993 {
		overflow: visible;
		position: absolute;
		width: 10.226px;
		height: 6.508px;
		left: 575.613px;
		top: 180.919px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Path_994 {
		fill: rgba(255, 253, 238, 1);
	}

	.Path_994 {
		overflow: visible;
		position: absolute;
		width: 3.528px;
		height: 2.012px;
		left: 581.34px;
		top: 181.76px;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	#Scroll_Group_1 {
		mix-blend-mode: normal;
		position: absolute;
		width: 1440px;
		height: 917px;
		left: 0px;
		top: 0px;
		overflow: hidden;
	}

	#Scroll_Group_2 {
		mix-blend-mode: normal;
		position: absolute;
		width: 400px;
		height: 133px;
		left: 812px;
		top: 168px;
		overflow: hidden;
	}
	.shape{
		transform: rotate( 
45deg
 );
    height: 50px;
    width: 50px;
    background-color: #ffe3b1ad;
    border-radius: 100%;
	}

	#logo {
		position: absolute;
		width: 400px;
		height: 400px;
		left: 0px;
		top: -170px;
		overflow: visible;
	}
