<div class="col-lg-4 col-md-5 upcommingCard ">
    <div class="row ">

        <div class="title_card float-left col-sm-6 mb-4">
            <span>Title</span>
        </div>
        <div class="title_card  col-sm-4 offset-2 mb-4">
            <div class="order_Number float-right">
                <span> #1DF90E</span>
            </div>
        </div>
            <div class="col-sm-6">
                <div class="row">

                    <div class="title_card float-left col-sm-1 offset-1">
                        <i class='far fa-clock' style="font-size: 24px;"></i>
                    </div>
                    <div class=" col-sm-6 px-4 Text_hi ">
                        <span> Estimated arrival
                        </span>
                    </div>

                    <div class="Title_no col-sm-12 px-3 offset-3 ">
                        <span>45 Min</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 offset-2">

                <button id="Details_Button_fb" class=" btn btn-danger px-2 float-right" style="background-color:rgba(80,62,157,1); width: 100%;     border-radius: 6px;
                    border-color: rgba(80,62,157,1);">
                    Edit
                </button>

            </div>
        <nb-accordion style="width: 100%;">
            <nb-accordion-item>
                <nb-accordion-item-header class="Text_hi">
                    Product Details
                </nb-accordion-item-header>
                <nb-accordion-item-body>
                    <div class="row ">
                        <div class="title_card float-left col-sm-1" style="
                            padding-left: 20px;
                        ">
                            <span>1</span>
                        </div>
                        <div class="title_card  col-sm-4 Text_hi">
                            <span>Delicious Cheese Pie</span>
                        </div>
                    </div>
                </nb-accordion-item-body>
            </nb-accordion-item>

        </nb-accordion>
        <div id="Buttons_e " class="col-sm-12 mb-4">
            <div class="row">
                <div class="col-sm-12">
                    <nb-progress-bar [value]="value" [status]="status" [displayValue]="true"></nb-progress-bar>

                </div>

            </div>
        </div>
    </div>
</div>