.upcommingCard {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 15px;
   // box-shadow: 0px 6px 21px rgb(0 0 0 / 10%);
    min-height: 200px;
}
.order_Number {
       overflow: visible;
    width: 56px;
    white-space: nowrap;
    line-height: 24px;
    margin-top: -5px;
    text-align: right;
    font-family: OpenSans-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(98,98,100,1);
}
.Title_no {
  
    overflow: visible;
    width: 140.846px;
    height: 32px;
    line-height: 32px;
    margin-top: -4px;
    text-align: left;
    font-family: OpenSans-Bold;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(24,33,53,1);
}
.title_card {
    margin-top: 10px;
    overflow: visible;
    white-space: nowrap;

    text-align: left;
    font-family: OpenSans-Bold;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(24, 33, 53, 1);
}
.status {
    width: 74px;
    height: 24px;
    border-radius: 6px;
    background-color: rgba(65, 157, 62, 0.102);
    text-align: center;
}
.status span {
    width: 55px;
    white-space: nowrap;
    line-height: 16px;
    margin-top: -2.5px;
    text-align: center;
    font-family: OpenSans-SemiBold;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    color: rgba(65, 157, 62, 1);
}

#Title_hv {
    width: 1073px;
    white-space: nowrap;
    line-height: 32px;
    margin-top: -4px;
    text-align: left;
    font-family: OpenSans-Bold;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(24, 33, 53, 1);
}
.Text_hi {
    overflow: visible;
    white-space: nowrap;
    line-height: 18px;
    text-align: left;
    font-family: OpenSans-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(98, 98, 100, 1);
}
:host nb-accordion {
    display: block;
    box-shadow: none;
    border-radius: 0.25rem;
}
