<div #dialog>
    <nb-card accent="danger">
      <nb-card-header>Time Out</nb-card-header>
      <nb-card-body> 
               You will be logged out after 1 minute.
           Click the button to cancel logging out operation
      </nb-card-body>
      <nb-card-footer>
        <button nbButton (click)="close()" >Refresh</button>
      </nb-card-footer>
    </nb-card>
  </div>
