<div class="row">
    <div class="col-lg-6">
        <nb-card>
            <nb-card-header>Add Employee</nb-card-header>
            <nb-card-body>
                <div class="row">
                    <div class="col-6 ">
                        <input type="text" nbInput fullWidth placeholder="First Name" class="mt-2">
                    </div>
                    <div class="col-6">
                        <input type="text" nbInput fullWidth placeholder="Last Name" class="mt-2">
                    </div>
                    <div class="col-12">

                        <input type="email" nbInput fullWidth placeholder="Email" class="mt-2">

                        <input type="password" nbInput fullWidth placeholder="Password" class="mt-2">

                    </div>
                    <div class="col-6 mt-2">

                        <nb-select selected="1">
                            <nb-option value="1">Option 1</nb-option>
                            <nb-option value="2">Option 2</nb-option>
                        </nb-select>
                    </div>
                    <div class="col-6 mt-2">

                        <nb-select selected="1">
                            <nb-option value="1">Option 1</nb-option>
                            <nb-option value="2">Option 2</nb-option>
                        </nb-select>
                    </div>
                    <div class="col-12">

                        <textarea rows="5" nbInput fullWidth placeholder="Text Area" class="mt-2"></textarea>
                    </div>
                </div>

            </nb-card-body>
        </nb-card>
    </div>