
    <div class="col-lg-3 col-md-3 Rectangle ">
        <div class="row ">

            <div class="title_card float-left col-sm-6 mb-2">
                <span>Title</span>
            </div>
            <div class="title_card  col-sm-4 offset-2 mb-2">
                <div class="status float-right">
                    <span> completed</span>
                </div>
            </div>

            <div class="title_card float-left col-sm-1">
                <i class='far fa-calendar'></i>
            </div>
            <div class="title_card  col-sm-5 px-2 Text_hi">
                <span>September 16, 2020</span>
            </div>
            <div class="title_card float-left col-sm-1 offset-1">
                <i class='far fa-clock'></i>
            </div>
            <div class="title_card  col-sm-3 px-2 Text_hi">
                <span>11:54 PM</span>
            </div>
            <div class="List-ing col-sm-12 mt-2">
                <div class="row ">
                    <div class="title_card float-left col-sm-1" style="
                    padding-left: 20px;
                ">
                        <span>1</span>
                    </div>
                    <div class="title_card  col-sm-4 Text_hi">
                        <span>Delicious Cheese Pie</span>
                    </div>
                </div>
                <div class="row ">
                    <div class="title_card float-left col-sm-1" style="
                    padding-left: 20px;
                ">
                        <span>1</span>
                    </div>
                    <div class="title_card  col-sm-4 Text_hi">
                        <span>Delicious Cheese Pie</span>
                    </div>
                </div>
            </div>
            <nb-accordion style="width: 100%;">
                <nb-accordion-item>
                    <nb-accordion-item-header class="Text_hi">
                        Product Details
                    </nb-accordion-item-header>
                    <nb-accordion-item-body>
                        <div class="row ">
                            <div class="title_card float-left col-sm-1" style="
                            padding-left: 20px;
                        ">
                                <span>1</span>
                            </div>
                            <div class="title_card  col-sm-4 Text_hi">
                                <span>Delicious Cheese Pie</span>
                            </div>
                        </div>
                    </nb-accordion-item-body>
                </nb-accordion-item>

            </nb-accordion>
            <div id="Buttons_e " class="col-sm-12 mb-4">
                <div class="row">
                    <div class="col-sm-6">

                    </div>
                    <div class="col-sm-6">

                        <button id="Details_Button_fb" class=" btn btn-danger px-2"
                            style="background-color:rgba(247,87,87,1); width: 100%;     border-radius: 6px;">
                            Details

                        </button>

                    </div>
                </div>
            </div>
        </div>
    </div>

