<div class="row">
    <div id="Title_hv" class="mb-4 mt-4">
        <span>Upcoming orders</span>
    </div>

    <ngx-upcoming-order class="col-sm-12"></ngx-upcoming-order>
    <div id="Title_hv" class="mb-4 mt-4">
        <span>Previous orders</span>
    </div>
    <ngx-previous-order  class="col-sm-12"></ngx-previous-order>
</div>