#Title_hv {
    width: 1073px;
    white-space: nowrap;
    line-height: 32px;
    margin-top: -4px;
    text-align: left;
    font-family: OpenSans-Bold;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(24, 33, 53, 1);
}