<h1 class="text-center">Log In</h1>
<form class="registration-form" (ngSubmit)="onSubmit()">

	<label>
		<span class="label-text">Email</span>
		<input type="text" name="email" [(ngModel)]="username" >
	</label>
	<label class="password">
		<span class="label-text">Password</span>
		<button class="toggle-visibility" title="toggle password visibility" tabindex="-1">
			<span class="glyphicon glyphicon-eye-close"></span>
		</button>
		<input type="password" name="password" [(ngModel)]="password" >
	</label>
	<label class="checkbox">
		<input type="checkbox" name="newsletter">
		<span>Sign me up for the weekly newsletter.</span>
	</label>
	<div class="text-center">
		<button class="submit login-btn" name="register">Login</button>
	</div>
</form>