

						<h1 class="text-center">Sign Up</h1>
						<form class="registration-form">
							<label class="col-one-half">
								<span class="label-text">First Name</span>
								<input type="text" name="firstName">
							</label>
							<label class="col-one-half">
								<span class="label-text">Last Name</span>
								<input type="text" name="lastName">
							</label>
							<label>
								<span class="label-text">Email</span>
								<input type="text" name="email">
							</label>
							<label class="password">
								<span class="label-text">Password</span>
								<button class="toggle-visibility" title="toggle password visibility" tabindex="-1">
									<span class="glyphicon glyphicon-eye-close"></span>
								</button>
								<input type="password" name="password">
							</label>
							<label class="checkbox">
								<input type="checkbox" name="newsletter">
								<span>Sign me up for the weekly newsletter.</span>
							</label>
							<div class="text-center">
								<button class="submit" name="register">Sign Me Up</button>
							</div>
						</form>
					