<div class="row">
    <div class="col-lg-9">
        <div class="row">
            <div class=" col-xl-7 col-lg-9 col-md-9 content">

                <div id="rectangles ">
                    <div class="Rectangle_4">
                        <div id="Rectangle_4">
                            <div class="Rectangle_5">
                                <div id="Rectangle_5">

                                    <div class="title">
                                        <span>Chicken Steak</span>
                                    </div>
                                    <img src="assets/images/pngwingcom_3@2x.png" height="200px" class="inside-img"  />

                                    <div class="description">
                                        <span>Chicken Steak Recipe With Pan Roasted Vegetables & Potato Mash is a
                                            delicious meal in itself. The chicken is marinated in a lovely marinade that
                                            is bursting with flavours that include fresh parsley , lemon, garlic and
                                            mixed herbs. All of which add to the yummilicious taste of the chicken.
                                        </span>
                                    </div>
                                    <div class="Ingredients mt-3">
                                        <span>Ingredients</span>
                                        <ngx-ingredient-list></ngx-ingredient-list>
                                    </div>
                                    <div class="Ingredients mt-3">
                                        <span>Nutritional Values</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-3 content-image" style="    z-index: 2;
                margin-bottom: -150px;">
                <img src="assets/images/pngwingcom_3@2x.png" height="500px" class="product-img" />
            </div>
        </div>
    </div>

</div>
<div id="More_recipies " class="mt-5">
    <span class="More_recipies">More recipies</span>
    <ngx-recipe-list></ngx-recipe-list>


</div>