#Rectangle_4 {
    background-image: linear-gradient(to bottom right, #fffffffc 50%, #edf1f7);
    width: 100%;
    height: 100%;
    border-radius: 20%;
    min-height: 530px;
}
.inside-img {
    display: none;
}
.Rectangle_4 {
    // box-shadow: 8px 16px 32px rgb(0 0 0 / 10%);
    // -webkit-box-shadow: 8px 16px 32px rgb(0 0 0 / 10%);
    // -moz-box-shadow: 8px 16px 32px rgb(0 0 0 / 10%);
    overflow: visible;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    border-radius: 20%;
}
#Rectangle_5 {
    background-image: linear-gradient(to bottom right, #fffffffc 50%, #edf1f7);
    width: 100%;
    height: 100%;
    border-radius: 20%;
    padding-left: 50px;
    padding-right: 50px;
    min-height: 530px;
}
.Rectangle_5 {
    overflow: visible;
    width: 100%;
    height: 100%;
    padding-top: 0px;
}
#rectangles {
    overflow: visible;
    min-height: 530px;
}
.title {
    overflow: hidden;
    width: 100%;
    height: 70px;
    span {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        font-family: Open Sans, sans-serif;
        font-weight: 400;
        line-height: 1.25rem;
        box-sizing: inherit;
        display: block;
        width: 250px;
        padding: 20px 0;
        background-color: #3498db;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
        color: #fff;
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
        border-radius: 20px;
        margin-top: -10px;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
    }
}

.description {
    overflow: hidden;
    height: 64.74418640136719px;
    line-height: 16px;
    margin-top: -1.3960933685302734px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13.207813262939453px;
    color: rgba(64, 64, 64, 1);
}
.Ingredients {
    left: 21.581px;
    top: 146.753px;
    overflow: hidden;
    height: 100%;
    width: 100%;
    text-align: left;
    font-family: "Lucy-the-Cat";
    /* font-weight: bold; */
    font-size: 19.4232559204px;
    padding-top: 10px;
    letter-spacing: 1px;
}
.More_recipies{
    width: 1073px;
    white-space: nowrap;
    line-height: 32px;
    margin-top: -4px;
    text-align: left;
    font-family: OpenSans-Bold;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #182135;
}
.product-img {
    z-index: 2;
    right: -97px;
    margin-top: 31%;
    position: absolute;
}
#More_recipies {
    overflow: visible;
    width: 150.991px;
    height: 38.84651184082031px;
    text-align: left;
    font-family: Arima Madurai;
    font-style: normal;
    font-weight: bold;
    font-size: 23.978412628173828px;
    color: rgba(64, 64, 64, 1);
}
@media (max-width: 575.98px) {
    .product-img {
        z-index: 2;
        /* right: -36px; */
        /* bottom: 170px; */
        top: -39px;
        left: 100%;
        /* right: 100%; */
        position: relative;
        height: 233px;
    }
    .content {
        order: 2;
    }
    .content-image {
        order: 1;
    }
    .inside-img {
        display: block;
        margin: auto;
        visibility: visible;
    }
    .product-img {
        display: none;
    }
}
