<div #dialog>
    <nb-card status="{{ status }}">
      <nb-card-header>{{ title }}</nb-card-header>
      <nb-card-body> 
              {{ msg }}
      </nb-card-body>
      <nb-card-footer>
        <button nbButton outline status="{{ status }}" size="small" (click)="close()">Ok</button>

      </nb-card-footer>
    </nb-card>
  </div>
