<div class="row" style="padding-bottom: 10px;
padding-left: 10px;">
    <div class="col-lg-5 col-sm-12">
        <ngx-ingredient></ngx-ingredient>

    </div>
    <div class="col-lg-5">
        <ngx-ingredient></ngx-ingredient>


    </div>
    
    <div class="col-lg-5">
        <ngx-ingredient></ngx-ingredient>

    </div>
    <div class="col-lg-5">
        <ngx-ingredient></ngx-ingredient>


    </div>
</div>