#Rectangle_4 {
    // background-image: linear-gradient(to bottom right, #f2f6ff 50%, rgb(180 180 219 / 48%));
    width: 100%;
    height: 100%;
    border-radius: 20%;
    width: 100%;
    height: 100%;
    min-height: 39.57;
    min-width: 49.39px;
}
.Rectangle_4 {
    // box-shadow:  1px 1px 3px 0px rgb(171 182 204 / 51%);
    // -webkit-box-shadow:  1px 1px 3px 0px rgb(171 182 204 / 51%);
    // -moz-box-shadow:  1px 1px 3px 0px rgb(171 182 204 / 51%);
    overflow: visible;
    overflow: visible;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    border-radius: 20%;
}
#Rectangle_5 {
    background-image: linear-gradient(to bottom right, #f2f6ff 50%, #ffffff);
    width: 100%;
    height: 100%;
    padding: 2px;
    border-radius: 20%;
    min-height: 39.57px;
    min-width: 49.39px;
}
.Rectangle_5 {
    overflow: visible;
    width: 100%;
    height: 100%;
    padding: 2px;
}
#rectangles {
    overflow: visible;
    min-height: 39.57px;
    min-width: 49.39px;
}
#ID1_Chicken_Breast_piece {
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 8.12419605255127px;
    color: rgba(150, 150, 150, 1);
}
#Chicken_ba {
    overflow: visible;

    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10.550904273986816px;
    color: rgba(64, 64, 64, 1);
}
#chicken_1 {
    margin-top: 2px;
        display: flex;
    align-items: center;
    height: 100%;
}
#Vector {
    fill: rgba(0, 0, 0, 1);
}
.Vector {
    margin:  auto;

    width: 26.421px;
    height: 26.374px;

    transform: matrix(1, 0, 0, 1, 0, 0);
}
#Vector_bd {
    fill: rgba(0, 0, 0, 1);
}
.Vector_bd {
    overflow: visible;
    position: absolute;
    width: 0.879px;
    height: 0.879px;
    left: 21.147px;
    top: 4.835px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}
