<div class="recipe mt-5 mb-3">
    <div class="rec">
        <img src="assets/images/pngwingcom_3@2x.png" height="120px" class="product-img Mask" />
        <div class="like">
            <i class="fas fa-heart"></i>
        </div>

        <div id="Infor">
            <div id="ID3000">
                <span>$30.00</span>
            </div>
            <div id="Chicken_Hamburger">
                <span>Chicken Hamburger</span>
            </div>
            <div id="Fresh_hamburger_with">
                <span>Fresh hamburger with chicken, salad, tomatoes.</span>
            </div>

        </div>
        <div class="link">
            <i class="fas fa-angle-right	"></i>

        </div>
    </div>
</div>