.rec {
    background-color: white;
    min-height: 190px;
    width: 100%;
    border-radius: 24px;
   // border-color: rgb(151, 151, 151, 100%);
    // box-shadow: 8px 16px 32px rgb(0 0 0 / 10%);
    // -webkit-box-shadow: 8px 16px 32px rgb(0 0 0 / 10%);
    // -moz-box-shadow: 8px 16px 32px rgb(0 0 0 / 10%);
}
.Mask {
    margin-top: -32px;
    margin-left: -26px;
}
#Infor {
    margin: auto;
    width: 131px;
    height: 70px;
    
    overflow: visible;
    margin-top: 10px;
}
#Fresh_hamburger_with {
   
    overflow: hidden;
    width: 132px;
    height: 26px;
    text-align: left;
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: rgba(101, 101, 101, 1);
}
#ID3000 {
   
    overflow: visible;
    width: 42px;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat-SemiBold;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(54, 94, 255, 1);
}
#Chicken_Hamburger {
   
    overflow: visible;
    width: 124px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(55,55,55,1);
}
.like{
    float: right;
    background-color: #99ADFF;
    width: 50px;
    height: 30px;
    border-bottom-left-radius: 24px;
    border-top-right-radius: 24px;
    display: flex;
}
.like i{
    margin: auto;
    color: #365EFF;
}
.link i{
    float: right;
    border-radius: 100%;
    background-color: #99adff;
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    color: #365eff;    
}